@import "@fontsource/playfair-display";
@import "@fontsource/lexend-deca";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-rauhuia text-whenua font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif font-bold;
}

/* Custom Accordion Animation */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}